@import url("normalize.css");
html{
	font-family: 'Ubuntu', sans-serif;
	background-color:#E3E3E3;
}
header {
  width: 100%;
}
header nav {
  width: 100%;
  margin: 20px auto;
  background-color: #ADD136;
}
.menu-item{
	display:flex;
	justify-content:space-between;
}
.menu-bar {
  display: none;
}
header nav ul {
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}
header nav ul li span {
  margin-right: 10px;
}
header nav ul li a:hover {
  background: #C0F904;
}
.section-top figure{
  margin:0px 0px;
}
.section-top figure img{
	max-width:100%;
	height: auto;
	width:auto;
}
.section-bot{
  margin-top:0px;
	display:flex;
	flex-wrap:wrap;
	background-color:#58A9A1;
}
.article-productos{
	margin:0 auto;
}
.article-productos a{
  text-decoration:none;
}
.article-productos-img{
	cursor:pointer;
}
.article-productos-img img{
	border-radius:50%;	
	background-color:white;
}
.article-productos-img p{
	text-align:center;
	font-size:25px;
	color:white;
}
.section-bot-img{
	color:white;
	background-color:#DF7448;
  display:flex;
  flex-wrap:wrap;
	
}
.section-bot-img p{
  margin-top:0px;
}
.article-bot-img{
	width:100%;
  display:flex;
  flex-wrap:wrap;
}

#text{
	width:100%;
	text-align:center;
	font-size:35px;
}
#producto-1:focus{
  display:none;
}
.article-bot-img figure{
  margin:0 auto;
}
.article-bot-img img{
  width:350px;
}
@media screen and (max-width: 700px){
header nav{
    width: 75%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    z-index: 11;
  }
.menu-item{
	display: block;
}
header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
  .menu-bar {
    display: block;
    width: 100%;
    background: #ccc;
  }
  .menu-bar .btn-menu {
    display: block;
    padding: 20px;
    background-color: #ADD136;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu-bar span {
    float: right;
    font-size: 40px;
  }
  }